footer {
    background-color: #ebebeb;
    padding: 20px;
    margin-top: 50px;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    width: 20%; 
  }
  
  h2 {
    color: #252525;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    color: #7d7d7d;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


  .scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
  }
  
  .scroll-to-top img {
    width: 40px; 
    height: 40px;
  }
  .scroll-to-top a:hover {
    cursor: pointer;
  }